@import "./mixin.scss"; 

.articles {
    &__header {
        margin-top: 50px;
    }

    &__liste {
        margin-top: 45px;
    }
}

.ajout-article {
    &__header {
        margin-top: 50px;
    }

    &__form {
        @include div-style(50%, 300px);
        margin-top: 35px;
        margin-left: 25%;

        &--input {
            margin-top: 25px;
            width: 65%;
            margin-left: 20%;
        }

        &--select {
            margin-top: 35px;
            width: 65%;
            margin-left: 20%;
        }

        &--submit {
            margin-top: 35px;
            width: 65%;
            margin-left: 20%;
        }

        &__button {
            width: 100%;
            height: 45px;
        }
    }
}

.stocks {
    &__header {
        margin-top: 50px;
    }

    &__liste {
        margin-top: 45px;
    }
}