@import "./mixin.scss"; 

.header {
    &__one {
        @include div-style(20%, 100%);
        position: fixed;
        float: left;
        border-right: 1px solid lightgray;
        color: rgb(72, 72, 72);

        &__header {
            @include div-style(100%, 100px);
        }

        &--liste {
            margin-top: 25%;
        }
    }

    &__two {
        @include div-style(80%, fit-content);
        margin-left: 20%;

        &__header {
            @include div-style(100%, 75px);
            border-bottom: 1px solid lightgray;
        }

        &__content {
            @include div-style(100%, fit-content);
        }
    }
}